.destaque{
    width: 120px;
    height: 30px;
    background-color: rgb(138, 89, 184);
    color: aliceblue;
    border-radius: 30px;
}

.nao-destaque{
    width: 120px;
    height: 30px;
    color: rgb(57, 11, 100);
    background-color: rgb(156, 202, 241);
    border-radius: 30px;
}