<h5>Novo Aluno</h5>

<div class="mb-3">
    <label for="disabled">#</label>
    <input disabled [(ngModel)]="aluno.id" type="text" class="form-control" id="disabled" aria-describedby="emailHelp">
</div>

<div class="mb-3">
    <label for="nome" class="active">Nome</label>
    <input [(ngModel)]="aluno.nome" type="text" class="form-control" id="nome" aria-describedby="emailHelp" (input)="onInput()">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" [(ngModel)]="aluno.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div>
<button type="submit" class="btn btn-primary">Enviar</button>