<section class="property-binding">

    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String realizada com interpolação: {{ url }}</p>
        <p>Resultado de 1+1= {{ 1+1 }}</p>
        <p>Resultado de 1+1 não é: {{ 1+1+getValor() }}</p>
        <p>Curso de Angular e gosto do curso é: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Biding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
        <p></p>
    </article>

    <article>
        <h3>Class e Style Biding</h3>
        <div>
            Slecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-danger">Danger</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-info">Info</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme valor do combobox.
            </div>

            <div class="alert alert-danger" role="alert" 
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparece em caso de erro (escolha de Dandger)
            </div>

            <!-- <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>

            <div class="alert" role="alert" 
                [class.alert-danger]="classe.value == 'alert-danger'">
                Danger
            </div>
              <div class="alert" role="alert"
                [class.alert-warning]="classe.value == 'alert-warning'">
                Warning
            </div>
            <div class="alert" role="alert"
                [class.alert-info]="classe.value == 'alert-info'">
                Info
            </div> -->
        </div>
    </article>

</section>